version: '3.7'
services:
  camunda-backend:
    container_name: camunda-backend
    build: ./camunda-backend
    volumes:
      - ./camunda-backend:/usr/src/app
    depends_on:
      camunda:
        condition: service_healthy
      mongo:
        condition: service_started
  camunda:
    container_name: camunda
    image: 'camunda/camunda-bpm-platform:run-latest'
    ports:
      - '8080:8080'
    volumes:
      - './camunda/bpmn:/camunda/configuration/resources'
    healthcheck:
      test:
        - CMD
        - curl
        - '-f'
        - 'http://localhost:8080'
        - '-m'
        - '10'
      interval: 15s
      retries: 5
  mongo:
    container_name: mongo
    image: mongo
    ports:
      - '27017:27017'
    volumes:
      - './mongodb/data:/data/db'
  mongo-seeder:
    container_name: mongo-seeder
    build:
      context: ./mongo-seeder
      dockerfile: Dockerfile
      args:
        - 'DATABASE_URI=mongodb://mongo:27017/acme'
  courier-service:
    container_name: courier-service
    build: ./courier-service
    volumes:
      - './courier-service/db:/var/courier-service/db'
    ports:
      - '3000:3000'
  restaurant-service:
    container_name: restaurant-service
    build: ./restaurant-service
    ports:
      - '5000:5000'
  customer-server:
    container_name: customer-server
    build: ./customer-server
    ports:
      - '3001:3001'
  gis-service:
    container_name: gis-service
    build: ./gis-service
    ports:
      - '7005:7005'
    depends_on:
      mongo:
        condition: service_started
      courier-service:
        condition: service_started
  soap-service:
    container_name: soap-service
    build: ./soap-service
    ports:
      - '6666:6666'
  bank-service:
    container_name: bank-service
    build: ./bank-service
    ports:
      - "8765:8765"
    volumes:
      - './bank-service-sqlite/:/acmeat/bank-service/src/acmeatdb/'
  bank-frontend:
    container_name: bank-frontend
    build: ./bank-frontend
    ports:
      - "9090:9999"
  customer-frontend:
    container_name: customer-frontend
    build: ./customer-frontend
    ports:
      - '3002:80'
